# Diretórios de build e binários
bin/
obj/
*.dll
*.exe

# Diretórios de dependências
packages/
x64/
x86/

# Arquivos de configuração específicos do IDE
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user
*.csproj.filelist.txt
*.ncb
*.suo

# Arquivos gerados pelo SpecFlow
TestResults/
*.feature.cs
*.feature.xml

# Arquivos de build e cache
*.log
*.cache
*.tmp

# Diretórios de testes e resultados temporários
TestResults/
*.trx
*.coverage

# Configurações do Visual Studio
.vs/
.vscode/

# Configurações do Rider
.idea/

# Configurações do Visual Studio Code
*.code-workspace

# Configurações do NuGet
.nuget/

# Configurações de IDE específicos
*.dbmdl
*.dbproj.suo
*.jfm
*.suo

# Arquivos gerados por ferramentas de build
*.g.cs
*.g.i.cs

# Arquivos de configuração de testes
*.testsettings
*.runsettings

# Outros arquivos temporários e específicos
*.pidb
*.pdb
*.swp
*.swo
*.sublime-workspace

# Ignore os arquivos de controle de versão de pacotes
*.nupkg
*.snupkg
*.vsix
